name: Go

env:
  GIN_MODE: release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      checks: write

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true

    - name: Revive Action
      uses: morphy2k/revive-action@v2.4.1

    - name: Staticcheck
      uses: dominikh/staticcheck-action@v1.3.0
      with:
        args: "./..."

    - name: Build
      run: go build ./...

    - name: Test
      run: |
        go test -v ./...
        gotestsum --format=standard-verbose --junitfile=junit.xml

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v3
      if: success() || failure()
      with:
        report_paths: '**/junit.xml'
        detailed_summary: true
        include_passed: true
